//
//  common.xcconfig
//  joh-engine
//
//  Created by Jedd Haberstro on 4/2/11.
//  Copyright 2011 Student. All rights reserved.
//

JOH_ROOT_DIR = $(PROJECT_DIR)/../..
JOH_BIN_DIR = $(JOH_ROOT_DIR)/bin
JOH_BUILD_DIR = $(JOH_ROOT_DIR)/build
JOH_LIB_DIR = $(JOH_ROOT_DIR)/lib

SYMROOT = $(JOH_BUILD_DIR)

ALWAYS_SEARCH_USER_PATHS = NO
USER_HEADER_SEARCH_PATHS = $(INHERITED) $(JOH_ROOT_DIR)/src $(JOH_ROOT_DIR)/external/
HEADER_SEARCH_PATHS = $(INHERITED) $(JOH_ROOT_DIR)/src $(JOH_ROOT_DIR)/external/

GCC_VERSION = com.apple.compilers.llvmgcc42

// code generation
GCC_DYNAMIC_NO_PIC = YES
GCC_FAST_MATH = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_OBJC_CALL_CXX_CDTORS = YES
GCC_REUSE_STRINGS = YES
//GCC_STRICT_ALIASING = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES

// language settings
GCC_ONE_BYTE_BOOL = YES

// warnings
WARNING_CFLAGS = -Wall -Wstrict-aliasing=2 -Wconversion -Wsign-compare
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES