//
//  release.xcconfig
//  joh-engine
//
//  Created by Jedd Haberstro on 4/2/11.
//  Copyright 2011 Student. All rights reserved.
//

#include "common.xcconfig"

JOH_CONFIGURATION = release

GCC_PREPROCESSOR_DEFINITIONS = JOH_RELEASE

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_DEBUGGING_SYMBOLS = default
GCC_OPTIMIZATION_LEVEL = 2
GCC_UNROLL_LOOPS = YES

GCC_FAST_OBJC_DISPATCH = YES
OTHER_CFLAGS = -fomit-frame-pointer -ftree-vectorize $(OTHER_CFLAGS)
OTHER_CPLUSPLUSFLAGS = -fno-enforce-eh-specs $(OTHER_CFLAGS)

GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_OBJC_EXCEPTIONS = NO